body{
    font-family: 'Roboto', sans-serif;
}
.header-top{
    background: #f3f3f3;
    line-height: 40px;
    font-size: 14px;
}

.heading_top_right{
    display: flex;
    justify-content: flex-end;
}
.form-search input{
    height: 20px;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    margin-top: 10px;
}
input.form-control:focus {
    box-shadow: none;
}
.heading_top_right .cart{
    margin-left: 15px;
}
.header_body_left{
    line-height: 100px;
}
.header-body{
    border-bottom: 4px solid red;
}
.header_body_right{
    margin-top: 30px;
}

.btn-outline-dark:hover {
    border-color: #343a40;
}
li.nav-item{
    width: 120px;
    text-align: center;
}
li.nav-item a.nav-link {
    text-transform: uppercase;
    color: black;
}
li.nav-item:hover{
    border-bottom: 2px solid red;
    border-top: 2px solid red;
}
.banner-img{
    margin-top: 80px;
    margin-bottom: 80px;
}
.heading{
    text-align: center;
    background: url('../images/icon/heading.png')center center repeat-x !important;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    height: 35px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 40px;
}
.heading a, .heading span {
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
    line-height: 35px;
    font-weight: 600;
    display: inline-block;
    background: #ff4081;
    position: relative;
}
.item .item-card{
    max-height: 550px;
}
.item-post .item-card{
    max-height: 520px;
}
.heading a:before, .heading span:before {
     content: '';
     background-image: url('../images/icon/hdbf.png');
     width: 33px;
     height: 35px;
     position: absolute;
     left: -33px;
     top: 0;
 }

.heading a:after, .heading span:after {
    content: '';
    background-image: url('../images/icon/hdaf.png');
    width: 33px;
    height: 35px;
    position: absolute;
    right: -33px;
    top: 0;
}

.menu_right{
    background-color:#101010;
}
.nav {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav__list {
    background-color: transparent;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    top: -0.25rem;
    bottom: 0;
    left: 0;
    width: 0;
    min-height: 102vh;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 99;
    transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d; }
.menu_list{
    top: -0.75rem;
}
.nav__list li {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border-bottom: 1px solid rgba(202, 207, 204, 0.5); }
.nav__list li:first-child {
    margin-top: 1rem; }
.nav__list li:last-child {
    border-bottom: 0; }
.nav__list .nav__item {
    font-family: 'Muli', sans-serif;
    border-color: transparent;
    padding: 0.75rem 1rem 0.5rem 1rem;
    flex-basis: 100%;
    display: block;
    background: transparent;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    color: black !important;
    transition: all 0.3s ease-in-out; }

.page__overlay {
    width: 35%;
    height: 100%;
    background: rgba(67, 67, 67, 0.65);
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer; }

.nav__list-right {
    background: #1d1d1d;
    width: 70%;
    height: 1000px;
    position: relative; }

.nav__list-left {
    width: 30%; }

#sideNav.open {
    width: 100%; }

.toggleNav, .toggleNav:focus, .toggleNav:active {
    display: block;
    z-index: 91;
    color: black;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    right: 0.5rem;
    position: absolute;
    transition: all 0.3s;
    -webkit-transition: all 0.3s; }

.svg-hamburger, .svg-close {
    width: 1.25rem;
    height: 1.25rem; }

.closeBtn, .closeBtn:visited, .closeBtn:active, .closeBtn:focus {
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 800;
    display: flex;
    background: transparent;
    border-bottom: 0;
    padding: 1.25rem 1rem 1rem 1.5rem;
    margin: 0;
    color: #434343;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    position: relative;
    left: 78%;
    top: 1%;}
.closeBtn span, .closeBtn:visited span, .closeBtn:active span, .closeBtn:focus span {
    font-size: 1rem;
    padding-left: 0.25rem; }
.closeBtn span:hover, .closeBtn:visited span:hover, .closeBtn:active span:hover, .closeBtn:focus span:hover {
    color: rgba(244, 248, 251, 0.75); }
.closeBtn .svg-close, .closeBtn:visited .svg-close, .closeBtn:active .svg-close, .closeBtn:focus .svg-close {
    margin-top: 0.75rem; }
.closeBtn .svg-close-path:hover, .closeBtn:visited .svg-close-path:hover, .closeBtn:active .svg-close-path:hover, .closeBtn:focus .svg-close-path:hover {
    fill: #F0DB4F; }
.closeBtn:hover, .closeBtn:visited:hover, .closeBtn:active:hover, .closeBtn:focus:hover {
    color: rgba(244, 248, 251, 0.75); }

@media all and (min-width: 800px) {

    .toggleNav {
        display: none; }

    .closeBtn {
        display: none; }
    .menu__list{
        margin-top: 0rem !important;
    }
    .nav__list {
        margin-top: 0.5rem;
        position: absolute;
        width: 100%;
        min-height: initial;
        background: transparent;
        z-index: 2;
        overflow: hidden; }
    .nav__list li {
        padding: 1rem 0;
        margin-left: 1.5rem;
        border-bottom-color: transparent;
        justify-content: flex-start;
    }
    .nav__list .nav__item {
        font-family: 'Muli', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 1.07692px;
        text-transform: uppercase;
        color: black !important;
        border-bottom: 2px solid transparent;
        display: block;
        flex-basis: unset;
        background: transparent;
        padding: 0;
        outline: 0;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
    }
    a .nav__item .active{
        border-bottom: 1px solid #EF6C00;
    }
    .nav__list .nav__item:hover{
        border-bottom: 1px solid #EF6C00;
    }

    .nav__list-right, .nav__list-left {
        width: unset;
        height: unset;
        overflow: hidden; }

    .nav__list-right {
        border-top: 0;
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .nav_menu_list{
        width: 70%;
        height: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .nav__list-left
    {
        display: none;
        z-index: -1;
    }
}
@media screen and (max-width: 769px) {
    .nav__list .nav__item {
        color: white !important;
    }
    .nav__menu__right{
        width: 100% !important;
     padding-right: 0;
     padding-left: 0;
     margin-right: 0;
    margin-left: 0;
    }
}
@media screen and (max-width: 427px){
    .toggleNav, .toggleNav:focus, .toggleNav:active{
        top: -96px;
    }
    .header_body_right{
        margin-top: 0;
    }
    .heading_top_right{
        display: none;
    }
}
/*Nav*/



button.slick-prev.slick-arrow.slick-disabled {
    display: block;
    width: 25px;
    left: 47.5%;
    top: -24px;
    height: 25px;
    z-index: 1;
    border: 1px solid #ff405b;
}
button.slick-prev:before, .slick-prev:before{
    color: #ff405b;
    left: 5px;
    top: 1px;
}
.slick-prev:before {
    position: absolute;
    content: "\f053";
    left: 3px;
    top: 3px;
    color: #ff4081;
    text-indent: 0;
}
.slick-arrow {
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    height: 20px;
    outline: none;
    position: absolute;
}
.button.slick-next.slick-arrow{
    display: block;
    top: -24px;
    right: 47.5%;
    width: 25px;
    height: 25px;
    border: 1px solid #ff405b;
}
a.btn.btn-primary.text-center {
    margin-left: 58px;
}
.card.item-card {
    width: 94%;
}
@media screen and (max-width: 427px){
    .card.item-card {
        width: 100%;
    }
    .item .item-card {
        max-height: 630px;
    }
    .item-post .item-card {
        max-height: 555px;
    }
}
.time {
    border-bottom: 1px solid #cccccc;
    padding: 15px 0 5px 0;
    font-size: 12px;
}
.card-body {
    padding: 10px;
    margin-bottom: 30px;
}
.content {
    padding: 10px 0 0 0;
}
.content p {
    color: #333333;
    font-size: 14px;
    line-height: 22px;
}
.site-footer {
    padding: 30px 0;
    background: #ffffff !important;
}
.site-footer .container {
    border-top: 1px solid #cccccc;
    padding-top: 40px;
}
.site-footer .rt-footer p {
    margin: 0;
    line-height: 30px;
    color: #333333;
}
.site-footer .rt-footer ul {
    margin: 0;
    padding: 0;
}
.site-footer .rt-footer ul li {
    list-style: none;
}
.site-footer .rt-footer ul li a {
    color: #333333;
    line-height: 30px;
}
.site-footer .widget-title {
    background: none;
    margin: 10px 0 10px;
    font-size: 16px;
    text-align: left;
    padding: 0 0 5px 0;
    line-height: inherit;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.site-footer .footer-4 .wpcf7-form-control:not(.wpcf7-submit) {
    line-height: 45px;
    border-radius: 30px;
    border: 1px solid #cccccc;
    padding-left: 20px;
    padding-right: 80px;
    color: black;
}
.wpcf7-form-control:not(.wpcf7-submit) {
    width: 100%;
    outline: none;
}
.site-footer .footer-4 .wpcf7-form-control.wpcf7-submit {
    position: absolute;
    right: 4%;
    background: url('../images/icon/seach.png') center no-repeat #ff4181;
    height: 46px;
    font-size: 0;
    width: 68px;
    padding: 0;
    border-radius: 30px;
    margin: 5px;
    top: 33%;
}
section.banner-footer {
    margin-bottom: 40px;
}
.site-footer .footer-4 .text {
    color: #333333;
    margin-top: 10px;
    font-style: italic;
}
.boder-item{
    margin-top: -2%;
    width: 100%;
    height: 2px;
    background: #ff4181;
}
.copyright {
    position: relative;
    background: #f5f5f5;
    color: #333333;
    line-height: 40px;
}
.img-footer {
    margin-bottom: 20px;
}

@media all and (max-width: 427px) {
    .site-footer .footer-4 .wpcf7-form-control.wpcf7-submit {
        top: 31%;
    }
    .nav__list .nav__item{
        font-size: 14px;
    }
    .card-body h4{
        font-size: 20px;
    }
    p.card-text {
        font-size: 14px;
    }
    .content-tex p {
        font-size: 14px;
        text-align: justify;
    }
    .col-lg-3.col-md-3.info-item {
        width: 50%;
        margin-bottom: 20px;
    }
    .site-footer .rt-footer p{
        font-size: 14px;
    }
    .site-footer .rt-footer ul li a{
        font-size: 14px;
    }
    .site-footer .footer-4 .text{
        font-size: 14px;
    }
    .boder-item{
        width: 25%;
    }
    .col-lg-4.col-md-4.mt-4.banner_img img{
        width: 100%;
    }
    .page__overlay{
        width: 30%;
    }

}
